.container {
    margin-bottom: 30px;
}

button {
    padding: 10px 15px;
    font-size: 20px;
    color: white;
    margin: 10px 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: black;
    cursor: pointer;
}

.box {
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid red;
    margin-top: 30px;
    position: relative;
}